:root {
  --BgColor: #08121b;
  --InverseBgColor: whitesmoke;
  --TextColor: whitesmoke;
  --SubTextColor: #abbbc5;
  --MainAccent: #00f28e;
  --SecondAccent: #804eff;
  --HighlightColor: var(--SecondAccent);
  --HighlightText: var(--TextColor);
}
