:root {
  --aubergine: #3a2b3b;
  --sea_teal: #0c7475;
  --dark_teal: #2d4a54;
  --bubblegum: #bc4a9b;
  --pink_dawn: #eb8d9c;
  --pale_dawn: #ffd8ba;
}



body {
  color: var(--pale_dawn);
  background-color: var(--aubergine); /* 'night' color */
}

::-moz-selection {
  background: var(--bubblegum);
  color: var(--pale_dawn);
  text-shadow: none;
}

::selection {
  background: var(--bubblegum);
  color: var(--pale_dawn);
  text-shadow: none;
}

hr {
  border-top: 3px dotted var(--bubblegum);
}
code {
  background-color: var(--pale_dawn);
  color: var(--aubergine);
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
blockquote {
  border-color: var(--sea_teal);
}
a:hover {
  background-color: var(--bubblegum);
  color: #ffd8ba;
}
.tags a:hover{
  background-color: var(--bubblegun);
  color: #ffd8ba;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}
h1::before {
  color: var(--darkMaincolor);
  content: "# ";
}
h2::before {
  color: var(--darkMaincolor);
  content: "## ";
}
h3::before {
  color: var(--darkMaincolor);
  content: "### ";
}
h4::before {
  color: var(--darkMaincolor);
  content: "#### ";
}
h5::before {
  color: var(--darkMaincolor);
  content: "##### ";
}
h6::before {
  color: var(--darkMaincolor);
  content: "###### ";
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: var(--bubblegum);
  color: var(--pale-dawn);
}

.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: var(--aubergine);
}

.tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: var(--darkMaincolor);
  color: var(--aubergine);
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color: black;
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: var(--sea_teal);
  color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: var(--sea_teal);
  color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: var(--sea_teal);
  color:white
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background: var(--sea_teal);
   color: #000000
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: var(--sea_teal);
  color: yellow ;
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background: var(--sea_teal);
  color: black ;
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background: var(--sea_teal);
  color: var(--dark_teal);
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background: var(--dark_teal);
  color: whitesmoke ;
}
